header {
  height: 100px;
  font-family: sans-serif;
  text-align: center;
  margin: -8px -8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 40px;
  background: linear-gradient(135deg, #4d2d2d, #4f3258);
  color: white; 
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}
  
  
.header-logo .app-name {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.loginbutton, .profile-button {
  background-color: transparent;
  border-color: #ffffff; 
  margin-right: 20px;
}